---
import Footer from '../components/footer.astro';
import SecondaryHeader from '../components/secondary_header.astro';
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';

import Img1 from '../images/about/1.png'
import Img2 from '../images/about/2.png'
import Img3 from '../images/about/3.png'
---

<Layout title="La Villa">
	<main>
        <SecondaryHeader BackgroundUrl='src/images/backgrounds/secondary_header2.png' />
        <div class="mt-16 mb-16 container grid grid-cols-1 md:grid-cols-2 gap-20">
			<div class="relative">
				<h4 class="text-2xl" id="title"></h4>
				<hr class="absolute w-full sm:w-180 mt-8 right-0">
				<p class="mt-16">
					<p id="p1"></p><br><br>
					<p id="p2"></p><br><br>
					<p id="p3"></p><br><br>
					<p id="p4"></p><br><br>
					<p id="p5"></p><br><br>
					<p id="p6"></p><br><br>
					<p id="p7"></p><br><br>
					<p id="p8"></p><br><br>
					<p id="p9"></p><br><br>
				</p>
			</div>
			<div class="w-full place-content-center">
				<Image src={Img1} alt="Image 1" class="w-3/4" />
				<Image src={Img2} alt="Image 2" class="mt-9 w-3/4" />
				<Image src={Img3} alt="Image 3" class="mt-9 w-3/4" />
			</div>
		</div>
		<Footer SeparatorColor="#FFF6DD" />
	</main>
</Layout>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const lang = document.cookie.split('; ').find(row => row.startsWith('lang'))!.split('=')[1];

		const translations = {
			es: {
				title: 'CUYUTLÁN ES UNA POBLACIÓN UBICADA EN EL MUNICIPIO DE ARMERÍA, EN COLIMA, MÉXICO. LA PALABRA CUYUTLÁN DERIVA DEL NÁHUATL "COYOTL" QUE SIGNIFICA COYOTE Y "TLAN" QUE ES UNA TERMINACIÓN QUE INDICA LUGAR DE, POR ESO CUYUTLÁN SIGNIFICA "LUGAR DE COYOTES".',
				p1: "A finales de la década de 1940, en las serenas orillas de Cuyutlán, surgió una villa encargada por un destacado político de Ciudad de México para su discreta amante. La elegante estructura, envuelta en misterio, fue testigo de encuentros clandestinos y secretos susurrados que resonaban en sus fastuosos salones. Con el paso de los años, la villa se convirtió en un santuario del amor prohibido, con sus paredes adornadas con historias de pasión y deseos ocultos. Con el paso del tiempo, este refugio antaño secreto se transformó en un símbolo de encanto atemporal, que aún se alza orgulloso junto al tranquilo mar, custodiando las historias jamás contadas que guarda en su interior.",
				p2: "Hoy en día, La Villa Cuyutlán es un testimonio del paso del tiempo y la transformación. El que fuera un refugio secreto se ha convertido en un hotel boutique y un restaurante, que combina el encanto histórico con el lujo moderno. Los huéspedes son bienvenidos a un mundo donde los susurros del pasado se entretejen ahora en el tejido de una exquisita hospitalidad. Los terrenos, antaño envueltos en secreto, ofrecen ahora un pintoresco refugio junto al mar, invitando a los visitantes a dejarse llevar por la seductora atmósfera de este histórico destino.",
				p3: "En el vibrante Lila's Beach Club de La Villa Cuyutlán, los huéspedes disfrutan de la belleza contrastada de las arenas negras volcánicas mientras toman el sol. El espectáculo de la naturaleza se despliega a medida que ballenas y delfines navegan graciosamente por las aguas cercanas, creando un telón de fondo encantador para aquellos que eligen descansar a lo largo de la orilla. Este paraíso costero combina el encanto de la historia con las maravillas de la naturaleza, ofreciendo una experiencia única e inolvidable a quienes buscan tanto el relax como la emoción de los encuentros marinos.",
				p4: "En La Villa Cuyutlán, los huéspedes disfrutan de la Ola Verde, mundialmente conocida como una famosa ola de surf. Mientras los entusiastas del surf cabalgan sus potentes olas, se sumergen en la emoción del deporte con las arenas negras volcánicas como telón de fondo. Los huéspedes del club de playa pueden ver a surfistas expertos dominando la Ola Verde, lo que añade una dimensión estimulante a la experiencia costera.",
				p5: "De hecho, Cuyutlán se ha ganado fama mundial por su singular producción de sal. Las salinas de la región son un espectáculo fascinante, donde la convergencia del agua del mar y la intensa luz del sol crea las condiciones ideales para la cristalización de la sal. Esta tradición centenaria de recolección de sal no sólo ha dado forma a la economía local, sino que también se ha convertido en un rasgo distintivo que atrae a los visitantes para presenciar el intrincado proceso y saborear la excepcional calidad de la sal de Cuyutlán.",
				p6: "Durante la época en que el ferrocarril de pasajeros reinaba como principal medio de transporte, Cuyutlán ostentaba el distinguido estatus de ser el destino de playa más famoso de México. La comodidad del ferrocarril atrajo a visitantes en busca de sol, mar y relajación a las prístinas costas de Cuyutlán. Las playas florecieron con vibrante energía cuando los viajeros se embarcaron en un viaje tranquilo en tren para experimentar la belleza y la tranquilidad que hicieron de Cuyutlán un refugio codiciado en la historia de México.",
				p7: "La historia de Cuyutlán tiene un giro fascinante, ya que sirvió como capital de México durante dos noches en el tumultuoso periodo de la Revolución. En medio de la agitación política, la ciudad asumió un papel fundamental, convirtiéndose temporalmente en la sede del poder. Los ecos de ese breve capítulo resuenan en el pasado de la ciudad, añadiendo una capa única a la narrativa histórica de Cuyutlán.",
				p8: "Cuyutlán se enorgullece de albergar uno de los mayores santuarios de tortugas marinas del mundo, donde se realizan esfuerzos diligentes para cuidar y proteger cuatro especies de tortugas marinas del Pacífico. Este santuario es un testimonio del compromiso de la ciudad con la conservación, ya que ofrece un refugio seguro a estas magníficas criaturas. Los visitantes tienen la oportunidad de presenciar el delicado proceso de crianza de las tortugas marinas y contribuir a los esfuerzos en curso para garantizar el bienestar y la supervivencia de estas especies en peligro de extinción.",
				p9: "Sin duda, un recorrido por las lagunas y esteros aledaños al Santuario de la Tortuga Marina es una visita obligada para los visitantes de Cuyutlán. Explorar estas maravillas naturales ofrece la oportunidad de presenciar el diverso ecosistema que rodea al santuario. Las lagunas y esteros son hábitat de diversas especies de aves y muestran la riqueza ecológica de la región. Es una experiencia inmersiva que complementa los esfuerzos de conservación del Santuario de la Tortuga Marina, permitiendo a los visitantes apreciar la belleza interconectada del ambiente costero de Cuyutlán.",
			},
			en: {
				title: 'CUYUTLÁN IS A TOWN LOCATED IN THE MUNICIPALITY OF ARMERÍA, IN COLIMA, MEXICO. THE WORD CUYUTLÁN DERIVES FROM THE NAHUATL “COYOTL” WHICH MEANS COYOTE AND “TLAN” WHICH IS AN ENDING THAT INDICATES PLACE OF, THAT IS WHY CUYUTLÁN MEANS “PLACE OF COYOTES”',
				p1: "In the late 1940s, nestled along the serene shores of Cuyutlán, a villa emerged, commissioned by a prominent Mexico City politician for his discreet mistress. The elegant structure, veiled in mystery, bore witness to clandestine rendezvous and whispered secrets that echoed through its lavish halls. Over the years, the villa became a sanctuary of forbidden love, its walls adorned with tales of passion and hidden desires. As time unfolded, the once-secret haven transformed into a symbol of timeless allure, still standing proudly by the tranquil sea, guarding the untold stories within.",
				p2: "Nowadays, La Villa Cuyutlán stands as a testament to the passage of time and transformation. The once-secret refuge has evolved into a beautifully appointed boutique hotel and restaurant, blending historic charm with modern luxury. Guests are welcomed into a world where the whispers of the past are now woven into the fabric of exquisite hospitality. The grounds, once shrouded in secrecy, now offer a picturesque retreat by the sea, inviting visitors to indulge in the alluring atmosphere of this storied destination.",
				p3: "At La Villa Cuyutlán’s vibrant Lila’s Beach Club, guests are treated to the contrasting beauty of volcanic black sands as they bask in the sun. Nature’s spectacle unfolds as whales and dolphins gracefully navigate the nearby waters, creating an enchanting backdrop for those who choose to lounge along the shore. This coastal haven combines the allure of history with the wonders of nature, offering a unique and unforgettable experience for those who seek both relaxation and the thrill of marine encounters.",
				p4: "At La Villa Cuyutlán, guests enjoy the Ola Verde, a globally renowned as a famous surfing wave. As surf enthusiasts ride its powerful swells, they are immersed in the thrill of the sport against the backdrop of the volcanic black sands. Guests at the beach club can witness skilled surfers mastering the Ola Verde, adding an exhilarating dimension to the coastal experience.",
				p5: "Indeed, Cuyutlán has gained world fame for its unique salt production. The salt flats in the region are a mesmerizing sight, where the convergence of seawater and intense sunlight creates the ideal conditions for salt crystallization. This centuries-old tradition of harvesting salt has not only shaped the local economy but has also become a distinctive feature drawing visitors to witness the intricate process and savor the exceptional quality of Cuyutlán’s salt.",
				p6: "During the era when passenger railroads reigned as the primary mode of transportation, Cuyutlán held the distinguished status of being Mexico’s most famous beach destination. The convenience of rail travel brought visitors seeking sun, sea, and relaxation to the pristine shores of Cuyutlán. The beaches flourished with vibrant energy as travelers embarked on a leisurely journey by rail to experience the beauty and tranquility that made Cuyutlán a sought-after retreat in Mexico’s history.",
				p7: "Cuyutlán’s history holds a fascinating twist, as it served as the capital of Mexico for two nights during the tumultuous period of the Revolution. In the midst of political upheaval, the town took on a pivotal role, becoming the temporary seat of power. The echoes of that brief chapter resonate in the town’s past, adding a unique layer to Cuyutlán’s historical narrative.",
				p8: "Cuyutlán takes pride in being home to one of the largest sea turtle sanctuaries globally, where diligent efforts are made to nurture and protect four species of Pacific sea turtles. This sanctuary stands as a testament to the town’s commitment to conservation, providing a safe haven for these magnificent creatures. Visitors have the opportunity to witness the delicate process of nurturing sea turtles and contribute to the ongoing efforts to ensure the well-being and survival of these endangered species.",
				p9: "Absolutely, a tour of the lagoons and estuaries adjoining the Sea Turtle Sanctuary is a must for visitors to Cuyutlán. Exploring these natural wonders offers a chance to witness the diverse ecosystem that surrounds the sanctuary. The lagoons and estuaries provide a habitat for various bird species and showcase the ecological richness of the region. It’s an immersive experience that complements the conservation efforts of the Sea Turtle Sanctuary, allowing visitors to appreciate the interconnected beauty of Cuyutlán’s coastal environment.",
			}
		};

		document.querySelector('#title')!.innerHTML = translations[lang as 'es' | 'en'].title;
		document.querySelector('#p1')!.innerHTML = translations[lang as 'es' | 'en'].p1;
		document.querySelector('#p2')!.innerHTML = translations[lang as 'es' | 'en'].p2;
		document.querySelector('#p3')!.innerHTML = translations[lang as 'es' | 'en'].p3;
		document.querySelector('#p4')!.innerHTML = translations[lang as 'es' | 'en'].p4;
		document.querySelector('#p5')!.innerHTML = translations[lang as 'es' | 'en'].p5;
		document.querySelector('#p6')!.innerHTML = translations[lang as 'es' | 'en'].p6;
		document.querySelector('#p7')!.innerHTML = translations[lang as 'es' | 'en'].p7;
		document.querySelector('#p8')!.innerHTML = translations[lang as 'es' | 'en'].p8;
		document.querySelector('#p9')!.innerHTML = translations[lang as 'es' | 'en'].p9;
	});
</script>


<style>
    h4{
        font-family: 'Cinzel';
        font-weight: normal;
		color: #6F8471;
    }
    hr{
        background-color: #d3d1d1;
        text-align: left;
        border: none;
        height: 1px;
    }
    p{
        font-family: 'Lato';
        font-weight: normal;
        color: #123940;
    }
</style>