---
import Activities from '../components/activities.astro';
import Header from '../components/header.astro';
import Separator from '../components/separator.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="La Villa">
	<main>
		<Header />
		<Separator/>
		<Activities/ >
	</main>
</Layout>

<style>
	
</style>
