---
import Activities from '../components/activities.astro';
import Header from '../components/header.astro';
import ImageGrid from '../components/image_grid.astro';
import ImageInformationComponent from "../components/image_information.astro";
import ImageSeparator from '../components/image_separator.astro';
import Separator from '../components/separator.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="La Villa">
	<main>
		<Header />
		<Separator/>
		<Activities />
		<ImageInformationComponent />
		<ImageSeparator />
		<ImageGrid />
	</main>
</Layout>
