---
import Activities from '../components/activities.astro';
import Footer from '../components/footer.astro';
import Header from '../components/header.astro';
import ImageGrid from '../components/image_grid.astro';
import ImageInformationComponent from "../components/image_information.astro";
import ImageSeparator from '../components/image_separator.astro';
import Separator from '../components/separator.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="La Villa">
	<main>
		<Header />
		<Separator/>
		<Activities />
		<ImageInformationComponent />
		<ImageSeparator />
		<ImageGrid />
		<Footer SeparatorColor="white" />
	</main>
</Layout>


<script>
	document.addEventListener('DOMContentLoaded', () => {
		if(document.cookie.split('; ').find(row => row.startsWith('lang')) == undefined){
			let expires = '';
			const date = new Date();
			date.setTime(date.getTime() + (30 * 24 * 60 * 60 * 1000));
			expires = `; expires=${date.toUTCString()}`;
			document.cookie = `lang=es${expires}; path=/`;
		}
    });
</script>