---
import Activities from '../components/activities.astro';
import Header from '../components/header.astro';
import ImageInformationComponent from "../components/image_information.astro";
import Separator from '../components/separator.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="La Villa">
	<main>
		<Header />
		<Separator/>
		<Activities />
		<ImageInformationComponent />
	</main>
</Layout>
