---
interface Props {
	title: string;
    body: string;
}

const { title, body } = Astro.props;
---

<div class="w-full">
    <h4 class="text-xl sm:text-2xl min-h-[3.6rem]">{title}</h4>
    <hr class="w-1/6 mt-4">
    <p class="mt-4">{body}</p>
</div>


<style>
    h4{
        font-family: 'Cinzel';
        font-weight: normal;
        color: #BAA76F;
        text-align: left;
    }

    hr{
        background-color: #d3d1d1;
        text-align: left;
        border: none;
        height: 1px;
    }

    p{
        color: #717A87;
        text-align: left;
    }
</style>