---
import ActivitiesCard from "../components/activities_card.astro";
---


<section class="p-10 mt-204 container mx-auto sm:px-8">
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-10">
        <ActivitiesCard title="Unforgettable Weddings" body="Celebrate your special day in an idyllic setting with our specialized wedding services." />
        <ActivitiesCard title="Private Beach Club" body="Enjoy our exclusive club beach with private access for guests." />
        <ActivitiesCard title="Luxury Accommodation" body="6 rooms designed to provide you comfort and elegance during your stay." />
    </div>
</section>