---
import ImageText from '../components/image_text_column.astro';
import ChairPicture from "../images/picture1.png";
---



<section class="mt-28 container mx-auto sm:px-8">
    <ImageText ImageSrc={ChairPicture} ImagePosition="right" Title="At La Villa in Cuyotl치n, we strive to provide a complete and unique experience for our guests." Body="Whether you are looking for a romantic getaway, a quiet retreat, or simply a place to unwind and enjoy, our rooms are designed to provide the experience you are looking for at La Villa en Cuyotl치n. We hope you find them the perfect refuge for your vacation!" />
    <ImageText ImageSrc={ChairPicture} ImagePosition="left" Title="At La Villa in Cuyotl치n, we strive to provide a complete and unique experience for our guests." Body="Whether you are looking for a romantic getaway, a quiet retreat, or simply a place to unwind and enjoy, our rooms are designed to provide the experience you are looking for at La Villa en Cuyotl치n. We hope you find them the perfect refuge for your vacation!" />
</section>