---
import { Image } from "astro:assets";
import Beach from "../images/beach.png";
---

<section class="mt-20">
    <div class="relative h-2/3">
        <Image src={Beach} alt="La villa beach" class="w-full h-full object-cover" />
        <div class="absolute inset-x-0 bottom-0 flex items-center justify-center">
            <div class="bg-gradient-to-t from-black to-transparent w-full sm:p-4 text-center">
                <p class="text-white text-xl md:text-3xl p-6 sm:p-32" id="scape"></p>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const lang = document.cookie.split('; ').find(row => row.startsWith('lang'))!.split('=')[1];

        const translations = {
            es: {
                escapeWithFriends: ['Escapa con amigos, crea ', 'recuerdos inolvidables juntos.']
            },
            en: {
                escapeWithFriends: ['Escape with friends, create', 'unforgettable memories together.']
            }
        };

        const textContainer = document.querySelector('#scape');
        textContainer!.innerHTML = translations[lang as 'es' | 'en'].escapeWithFriends.map(line => `<p>${line}</p>`).join('');
    });
</script>

<style>
    section{
        font-family: 'Cinzel';
        font-weight: normal;
    }
</style>
